body {
    background-color: aliceblue;
  }

.row {
    display: flex;
  }
  .column {
    flex: 33.33%;
    padding: 5px;
  }

  .topnav {
    background-color: #333;
    overflow: hidden;
  }

  .topnav a {
    float: left;
    color: rgb(178, 104, 104);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  .topnav a.active {
    background-color: #4CAF50;
    color: white;
  }


  
  